<div class="container">
<div class="row justify-content-around mt-4" >
  <div class="col-lg-3 col-md-5 col-sm-12 mr-lg-4 mt-4 card_car" *ngFor=" let car of cars">
    <img class="card-img-top mt-3" src="assets/img/voiture/Audi/A5/{{car.images[0].nom}}" alt="Card image cap">
    <div class="card-body mytext-blue">
      <h5 class="card-title">{{car.marque}} {{car.modele}} </h5>
      <p class="card-text">1.3 TCE 150ch FAP ITEMS <br> {{car.carburant}} /{{car.kilometrage}} km / {{car.annee}}</p>
      <h5 class="card-text mytext-orange"> {{car.prix}} € </h5>
      <a [routerLink]="['/car-detail',car.id]" class="btn filtre-valid">En savoir +</a>
    </div>
  </div>
</div>
