<footer class="container-fluid text-white mt-4">
  <div class="row">
    <div class="col-md-3 mt-4 ml-lg-4">
      <h2 class="text-center">Vous êtes un pro ? </h2>
      <p>Vous possédez votre garage et vous voulez vendre vos voitures ? <br> N'hésitez plus et inscrivez-vous, le centre Auto'Ccas est fait pour vous.</p>
      <button class="btn-lg  btn-block text-white" type="button" href="#" >ACCES CLIENT PRO</button>
    </div>
    <div class="col-md d-flex justify-content-around align-items-center mt-4">
      <a href="#"><img src="assets/img/logo/facebook.png" class="logo_footer_reseau rounded-circle"></a>
      <a href="#"><img src="assets/img/logo/linkedin.png" class="logo_footer_reseau rounded-circle"></a>
      <a href="#"><img src="assets/img/logo/twitter.png" class="logo_footer_reseau rounded-circle"></a>
      <a href="#"><img src="assets/img/logo/whatsapp.png" class="logo_footer_reseau rounded-circle"></a>

    </div>
    <div class="col-md-3 d-flex flex-column mt-4 ">
      <h2 class="text-center">Nous contacter</h2>
      <div class="d-flex ml-6">
        <img src="assets/img/logo/email.png" class="logo_footer">
        <p class="ml-4"><span class="font-weight-bold"> Par email</span> <br> adresserandom@gmail.com</p>
      </div>
      <div class="d-flex ml-6">
        <img src="assets/img/logo/phone.png" class="logo_footer">
        <p class="ml-4"><span class="font-weight-bold"> Par Télephone</span> <br> 06 00 00 00 00</p>
      </div>
      <div class="d-flex ml-6">
        <img src="assets/img/logo/place.png" class="logo_footer">
        <p class="ml-4"><span class="font-weight-bold"> Par Courier</span> <br> 547 chemin de l'auto <br> 38000 Grenoble</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center cgu_mentions">
    <a href="#" class="border-right border-light pr-4 text-white">Conditions Générales</a>
    <a [routerLink]="['/mention-legale']" class="border-right border-light pr-4 ml-4 text-white">Mentions légales </a>
    <a href="#" class="border-right border-light pr-4 ml-4 text-white">Charte cookies</a>
    <a href="#" class="border-right border-light pr-4 ml-4 text-white">Politique de confidentialité</a>
    <a href="#" class="ml-4 text-white">Plan du site </a>

  </div>
</footer>
