<section class="fond_menu sous-nav">
  <div class=" h-100 d-flex flex-column align-items-end justify-content-center mr-5" id="filtre">
    <div class="text-center mr-6 ">
    <div class="btn-group-vertical mr-3" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group mt-3" dropdown role="group">
        <button id="btnGroupDrop1" dropdownToggle type="button" class="btn dropdown-toggle rounded filtre-menu" aria-controls="dropdown-basic">
          Marque
        </button>
        <div class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="button-basic">
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="renault"> Renault </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="peugeot"> Peugeot </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="citroen"> Citroën </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="volkswagen"> Volkswagen </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="audi"> audi </div>
        </div>
      </div>
      <div class="btn-group mt-3" dropdown role="group">
        <button id="btnGroupDrop2" dropdownToggle type="button" class="btn dropdown-toggle rounded filtre-menu" aria-controls="dropdown-basic">
          Carburant
        </button>
        <div class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="button-basic">
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="renault"> Essence </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="peugeot"> Diesel </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="citroen"> Electrique </div>
        </div>
      </div>

      <div class="btn-group mt-3" dropdown role="group">
        <button id="btnGroupDrop3" dropdownToggle type="button" class="btn dropdown-toggle rounded filtre-menu" aria-controls="dropdown-basic">
          Kilométrage
        </button>
        <div class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="button-basic">
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="renault"> Renault </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="peugeot"> Peugeot </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="citroen"> Citroën </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="volkswagen"> Volkswagen </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="audi"> audi </div>
        </div>
      </div>
    </div>
    <div class="btn-group-vertical " role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group mt-3" dropdown role="group">
        <button id="btnGroupDrop4" dropdownToggle type="button" class="btn dropdown-toggle rounded filtre-menu" aria-controls="dropdown-basic">
          Modèle
        </button>
        <div class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="button-basic">
          <div class="dropdown-item"> <input type="checkbox" name="modèle" value="308"> 308 </div>
          <div class="dropdown-item"> <input type="checkbox" name="modèle" value="308_gt_line"> 308 gt line </div>
          <div class="dropdown-item"> <input type="checkbox" name="modèle" value="3008"> 3008 </div>
          <div class="dropdown-item"> <input type="checkbox" name="modèle" value="206"> 206 </div>
          <div class="dropdown-item"> <input type="checkbox" name="modèle" value="307"> 307 </div>
        </div>
      </div>
      <div class="btn-group mt-3" dropdown role="group">
        <button id="btnGroupDrop5" dropdownToggle type="button" class="btn dropdown-toggle rounded filtre-menu" aria-controls="dropdown-basic">
          Année
        </button>
        <div class="dropdown-menu" *dropdownMenu aria-labelledby="button-basic">
          <div class="dropdown-item"> <input type="checkbox" name="année" value="2000-"> 2000  </div>
          <div class="dropdown-item"> <input type="checkbox" name="année" value="2005_2010"> 2005-2010 </div>
          <div class="dropdown-item"> <input type="checkbox" name="année" value="2010_2015"> 2010-2015 </div>
          <div class="dropdown-item"> <input type="checkbox" name="année" value="2015+"> 2015 et plus </div>
        </div>
      </div>

      <div class="btn-group mt-3" dropdown role="group">
        <button id="btnGroupDrop6" dropdownToggle type="button" class="btn dropdown-toggle rounded filtre-menu" aria-controls="dropdown-basic">
          Prix
        </button>
        <div class="dropdown-menu" *dropdownMenu aria-labelledby="button-basic">
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="renault"> Moins de 5.000€ </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="peugeot"> Entre 5.000 et 10.000 € </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="citroen"> Entre 10.000 et 15.000€ </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="volkswagen"> Entre 15.000€ et 20.000€ </div>
          <div class="dropdown-item"> <input type="checkbox" name="marque" value="audi"> Plus de 20.000€ </div>
        </div>
      </div>
    </div>

   <button class="btn filtre-valid btn-lg btn-block my-3 text-center rounded" type="button" href="#" >RECHERCHER</button>
   </div>
  </div>

</section>
<div class="container">
  <section>
    <h1 class="text-center mytext-blue">NOTRE SELECTION <span class="mytext-orange">DE VEHICULES D'OCCASIONS</span></h1>
    <p class="text-center mytext-blue"> Au Centre Auto Ccas, retrouvez de nombreux modèles de <span class="mytext-orange"> voitures d'occasion </span> à vendre parmi les plus grands constructeurs : <span class="mytext-orange">Renault, Peugeot, Audi, Citroën, Volkswagen...</span> Et bien plus de marques de concessionnaires, révisées, garanties et<span class="mytext-orange"> immédiatement disponibles.</span> </p>
  </section>
</div>
<app-card-car></app-card-car>

