<div class="container mt-5">
  <h3 class="text-center mytext-orange"> Bienvenue {{proffesionel[0].nom}} sur votre page perso  </h3>
  <h5 class="mytext-orange text-center"> Cliquer sur la voiture à modifier </h5>
  <div class="row mt-5">
    <div class="col-3">
      <app-navside></app-navside>
    </div>
    <div class="col-4 m-auto flex-column borders">
      <h3 class="text-center "> Garage n° {{cars[0].idClientContent}}</h3>
      <div *ngFor="let car of cars" class="align-items-center">
        <div class="row justify-content-between mt-5 selected" [routerLink]="['/car-update',car.id]">
          <h5>{{car.dateAjout|date:'dd-MM-yyyy'}} : {{car.marque}} {{car.modele}} <br>
          {{car.prix}} € ... </h5>
          <img src="assets/img/logo/edit.png">
        </div>
      </div>
    </div>
  </div>
</div>-
