<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-3">
      <app-navside></app-navside>
    </div>
    <div class="col-6">
      <h2 class="text-center mytext-orange"> Ajouter une nouvelle voiture </h2>
      <form #carForm="ngForm" (ngSubmit)="addCar()">
        <div class="form-group">

          <label id="imagesLabel" for="images" class="custom-file-label">{{lastFile || 'Sélectionner vos images '}}</label>
          <input type="file" multiple (change)="onFileSelected($event)" required id="images" class="custom-file-input">
          <h4 class="text-center mytext-orange">Nom de vos fichier séléctionné :</h4>
          <div *ngFor="let progressInfo of filesNames" class="mb-2">
            <span class="text-light">{{ progressInfo }}</span>
          </div>
        </div>
        <div class="form-group">
          <label for="marque"> Choisissez le garage concerné </label>
          <select class="form-control" id="garages" name="garages" required [(ngModel)]="carAdd.garages" #garages="ngModel">
            <option *ngFor =" let garage of garageConnect " [ngValue]="proffesionel.garages[garage.id-1]"> Le garage {{garage.nom}} situé à {{garage.ville}} ({{garage.codePostal}}) </option>
          </select>
        </div>
        <div class="form-group">
            <label for="marque"> Marque </label>
            <select class="form-control" id="marque" name="marque" required [(ngModel)]="carAdd.marque" #marque="ngModel">
              <option *ngFor =" let marque of marques " [ngValue]="marque"> {{marque}}</option>
            </select>
        </div>
        <div class="form-group">
          <label for="modele"> Modèle</label>
          <input class="form-control" id="modele" name="modele" required [(ngModel)]="carAdd.modele" #modele="ngModel">
          <div [hidden]="modele.valid" class="alert alert-danger"> Le modèle est requis</div>
        </div>
        <div class="form-group">
          <label for="carburant"> Carburant </label>
          <select class="form-control" id="carburant" name="carburant" required [(ngModel)]="carAdd.carburant" #carburant="ngModel">
            <option *ngFor =" let carburant of carburants " [ngValue]="carburant"> {{carburant}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="annee"> Année de fabrication </label>
          <input class="form-control" type="number" id="annee" name="annee" required [(ngModel)]="carAdd.annee" #annee="ngModel">
          <div [hidden]="annee.valid" class="alert alert-danger"> Le modèle est requis</div>
        </div>
        <div class="form-group">
          <label for="kilometrage"> Kilométrage au compteur en km </label>
          <input class="form-control"  id="kilometrage" name="kilometrage" required [(ngModel)]="carAdd.kilometrage" #kilometrage="ngModel">
          <div [hidden]="kilometrage.valid" class="alert alert-danger"> Le kilométrage est requis</div>
        </div>
        <div class="form-group">
          <label for="prix"> Prix en euros </label>
          <input class="form-control" type="number" id="prix" name="prix" required [(ngModel)]="carAdd.prix" #prix="ngModel">
          <div [hidden]="prix.valid" class="alert alert-danger"> Le prix est requis</div>
        </div>
        <div class="form-group">
          <label for="description"> Décriver en quelque ligne votre voiture </label>
          <textarea class="form-control" id="description" name="description" required [(ngModel)]="carAdd.description" #description="ngModel"></textarea>
          <div [hidden]="description.valid" class="alert alert-danger"> La description est requise</div>
        </div>


<!--        <button type="button" (click)='onUpload()' class="btn">Upload</button>-->

        <input [disabled]="!carForm.valid" class="btn btn-success" type="submit">
      </form>
    </div>
</div>
